body{
    padding: 0;
    margin: 0;
    background-color: #B6E2D3;
    font-family: 'Poppins', sans-serif;
    }
/*  section*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profile{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
   
}
h3{

}
img {
    border-radius: 50%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    width:600px;
    height: 45px;

    border: 2px solid #0f2e3f;
    
    background-color: #0f2e3f;
    border-radius: 1rem;
    margin-top: 1rem;
    
    color: white;
    font-weight: 200;
    text-decoration:  none;

}
.container:hover{
    cursor: pointer;
    background-color: #B6E2D3;
    color: #0f2e3f;
    font-weight: 600;
    transform: translateY(-3px);    
    transition: 0.2s;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.4);
    

    

}
.container a{
    color: white;
    text-decoration:  none;
}
.container a:hover{

}

footer{
    color: white;
    font-weight: 100;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    bottom: 3rem;
    position: fixed;
    width: 100%;
    
}
footer span{
    color: #0f2e3f;
    font-weight: 300;
}

@media (max-width: 800px) {
    html{
      font-size: 65%;
    }
  
    .container{
        width:80%;
       
    }
    .profile{
        height:100px;
        background-color: white;
        margin-bottom: 5rem;
    }

    footer{
        bottom: 5rem;
    }

}